{% extends 'base.html' %}

{% load static%}

{% block title %}Portfolio Maker | Portfolio Maker{% endblock %}

{% block contents %}
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-uppercase text-white font-weight-bold">ポートフォリオを簡単に作成</h2>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5 base_font_style">自身の情報や制作物を多くの方に知ってもらうためのWebページを簡単に作成することができます。HTMLやCSSなどの専門的なスキルや、サーバの構築といった煩雑な作業は一切不要です。誰でも簡単にポートフォリオを作成することができます。</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'account_login' %}">Log In</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-uppercase text-white font-weight-bold">シンプルでわかりやすいポートフォリオを手軽に</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4 base_font_style">登録したときからすぐにポートフォリオを手軽に作成することができます。世界中の方へあなたの情報を簡単に発信することができます。</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">機能や特徴</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2 base_font_style">シンプル</h3>
                    <p class="text-muted mb-0 base_font_style">簡単にポートフォリオを作成することができます。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">専門知識不要</h3>
                    <p class="text-muted mb-0">プログラミングの知識などの専門知識は一切不要です。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">情報を発信</h3>
                    <p class="text-muted mb-0">作成したページは世界中からアクセスすることが可能です。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2">すぐに作れる</h3>
                    <p class="text-muted mb-0">登録して、すぐにポートフォリオを作成することができます。</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}